@tailwind base;
@tailwind components;
@tailwind utilities;


.noto {
  font-family: "Slackside One", cursive;
  font-weight: 400;
  font-style: normal;
  flex: auto;
align-items: center;
justify-content: center
}


.caveat {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  flex: auto;
  align-items: center;
  justify-content: center;
}

@media (max-width: 640px) { /* Cambiar el tama単o de la fuente en pantallas peque単as */
  .caveat {
    font-size: 20px; /* Cambiar el tama単o de la fuente para pantallas peque単as */
  }
}
.caveat3 {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  flex: auto;
  align-items: center;
  justify-content: center;
  text-align: left; /* Alinea el texto a la izquierda */
}

.caveat1 {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 300%;
  flex: auto;
align-items: center;
justify-content: center;
}
.rock{
  font-family: "Rock 3D", system-ui;
  font-weight: 400;
  font-style: normal;
  top: 0;
flex: auto;
align-items: center;
justify-content: center;


}


.butterfly {
  font-family: "Butterfly Kids", cursive;
  font-weight: 400;
  font-style: normal;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0%;
  display: flex;

  min-width: 320px;
  min-height: 100vh;
  background-image: url("./assets/Backgrounds/flores.png");
  background-attachment: fixed;
  
  background-size:50%
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    padding: 0%;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


